*{
    margin:0 auto;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size:14px;
}
h1{
    font-family: 'Shrikhand', cursive;
    display:none;
}
h2{
    font-weight: bold;
    padding:10px 0;
    font-size: 1.7em;
}
img{
    width:100%;
    height: 56.25vw;
}
h3{
    padding:0 20px;
}
p{
    padding:10px 20px;
}
button{
    font-weight: bold;
    font-size:18px;
}
.btn{
    padding:20px 20px;
    border-radius: 20px;
    border:none;
    text-align:left;
}
.btn-2::before{
    content:"1";
    background: #9356DC;
    border-radius:50%;
    padding:5px 10px;
    color:#fff;
    margin-left: -33px;
}
.btn-3::before{
    content:"2";
    background: #9356DC;
    border-radius:50%;
    padding:5px 10px;
    color:#fff;
    margin-left: -33px;
}
.btn-4::before{
    content:"3";
    background: #9356DC;
    border-radius:50%;
    padding:5px 10px;
    color:#fff;
    margin-left: -33px;
}
.btn-1{
    width:73%;
    padding:15px 20px;
    border-radius: 30px;
    background: linear-gradient(#FF79DA, #9356DC);
    border:none;
    color:#fff;
}
.btn-2, .btn-3, .btn-4{
    margin: 20px 10px;
    width: 100%;
}
.fas{
    font-size:25px;
    width:10%;
    padding: 0 15px;
}
.far{
    float:right;
}
header{
    display: flex;
    justify-content: center;
    padding:20px 0;
    box-shadow: 0px 0px 10px 0px #666;
    margin:0 auto;
}
header img{
    height:100%;
    width:50%;
}
section{
    display: flex;
    justify-content: center;
    padding: 15px 15px;
}
.row-0{
    background-color:#eaeaea;
    padding:10px 0;
    font-weight:bold;
    color:#353535;
    font-size:18px;
}
.row-0 i{
    margin:0;
    padding:3px 0 0 0;
    width:3%;
}
.row-0 p{
    margin:0;
    padding:0 15px;
}
.location{
    display: flex;
    margin: 0;
    width:100%;
    justify-content: center;
}
.fa-map-marker-alt{
    font-size: 15px;
}
.row-1{
    background-color:#f6f6f6;
    flex-direction: column;
}
.row-1 p{
    text-align: center;
    font-size: 16px;
}
.row-2{
    flex-direction:column;
}
.row-2 h2{
    display: contents;
}
.row-2 a{
    margin: 0;
}
.row-2 a button:hover{
   background-color: #f5edff;
}
.fa-mobile-alt:hover, .fa-list-ul:hover, .fa-store:hover{
    color: #9356DC;
}
.row-3{
    flex-direction: column;
    background-color:#f6f6f6;
}
.row-3 h2{
    margin:0;
    padding: 40px 0 20px 0;
}
.resto{
    border-radius:15px;
    background-color: #fff;
    margin-bottom:5%;
}
.resto img{
    border-radius: 15px 15px 0 0;
}
figcaption{
    position: relative;
    float: right;
    margin-top: -185px;
    right: 30px;
    background-color:#99e2d0;
    color:#139274;
    padding:10px 30px;
    border-radius: 5px;
    font-weight: bold;
}
aside{
    display: grid;
    grid-template-columns: 70% 30%;
    padding-top: 10px;
}
aside p{
    grid-column-start: 1;
    padding-top:0;
}

aside h3, aside p{
    margin:0;
    justify-self: left;
    padding-left:10px;
}
aside a{
    grid-column-start: 2;
    grid-row-start: 1;
}
.fa-heart{
    font-size:25px;
}
.fa-heart:hover{
    font-weight: 900;
    background: -webkit-linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*aside a:hover{
    color: linear-gradient(#FF79DA, #9356DC);
    background-color: linear-gradient(#FF79DA, #9356DC);
}*/
footer{
    background-color: #353535;
    padding-top: 3rem;
    background-image: url(img/logo/ohmyfood@2x-blanc.svg);
    background-repeat: no-repeat;
    background-position: 40px 25px;
    background-size: 23%;
}
.logo-footer{
    width:50%;
    margin: 0;
}
.footer-info a{
    color:#fff;
    text-decoration: none;
}
.footer-info .fas{
    width:7%;
    margin-right: 0;
    color: #fff;
    padding: 0;
}
ul{
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 30px;
    line-height: 1.5;
}

@media (min-width: 768px) and (max-width: 1024px) {
    img{
        height: 45.25vw;
    }
    .btn-1{
        width: 40%;
    }
    .row-2 {
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 0 70px;
    }
    .row-2 h2{
        width:100%;
        text-align: center;
        display: initial;
    }
    .row-3{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "title title";
        column-gap: 10px;
        margin: 0 10px;
        padding: 15px 30px;
    }
    .row-3 h2{
        grid-area: title;
    }
    figcaption{
        margin-top: -325px;
        width: 3%;
    }
  }

  @media (min-width: 1025px) {
    img{
        height: 29.25vw;
    }
    .btn-1{
        width: 20%;
    }
    .row-2 {
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 0 22%;
    }
    .row-2 h2{
        width:100%;
        text-align: center;
        display: initial;
    }
    .row-3{
        display: grid;
        grid-template-columns:25% 25% 25% 25%;
        grid-template-areas: "title title title title";
        column-gap: 10px;
        margin: 0 10px;
        padding: 15px 30px;
    }
    .row-3 h2{
        grid-area: title;
    }
    figcaption{
        margin-top: -380px;
    }
    footer{
        background-size: 10%;
    }
    .footer-info .fas {
        width: 2%;
    }
  }