*{
    margin:0 auto;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size:14px;
}
h1{
    font-family: 'Shrikhand', cursive;
    display:none;
}
h2{
    font-weight: bold;
    padding:10px 0;
}
p{
    padding:10px 20px;
}
button{
    margin:10px 0;
}
.btn{
    padding:20px 20px;
    border-radius: 20px;
    border:none;
}
.btn-1{
    padding:10px 20px;
    border-radius: 20px;
    background: linear-gradient(#FF79DA, #9356DC);
    border:none;
    color:#fff;
}
header{
    display: flex;
    justify-content: center;
    padding:20px 0;
    box-shadow: 0px 0px 10px 0px #666;
    margin:0 auto;
}
section{
    display: flex;
    justify-content: center;
    padding: 15px 15px;
}
.row-0{
    background-color:#eaeaea;
    padding:10px 0;
}
.row-1{
    background-color:#f6f6f6;
    flex-direction: column;
}
.row-1 p{
    text-align: center;
}
.row-2{
    flex-direction:column;
}
.row-2 h2{
    display: contents;
}