*{
    margin:0 auto;
}
:root{
    --blanc: #fff;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size:14px;
}
h1{
    font-family: 'Shrikhand', cursive;
    font-size: 28px;
}
h2{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.4em;
    margin: 0 0 20px 0;
}
h2::after{
    display: flex;
    content: "";
    background: #99e2d0;
    height:2px;
    width:15%;
}
header{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    padding:20px 0;
    box-shadow: 0px 0px 10px 0px #666;
    margin:0 auto;
}
header img{
    height:150%;
    margin-top: -1%;
}
img{
    width:100%;
    height:65.25vw;
}
.fa-arrow-left{
   font-size: 20px;
   margin: 0;
   padding-left: 10%;
}
.titre{
    margin-bottom: 10%;
    padding-top: 10%;
}
.titre i{
    float: right;
    margin-top: -32px;
}
.fa-heart{
    font-size: 25px;
    color: #1e1e1e;
}
.row-2{
    background-color: #f6f6f6;
    padding: 0 20px 1rem 20px;
    border-radius: 40px 40px 0 0;
    position: relative;
    margin-top: -35px;
}
button{
    margin:10px 0;
    font-weight: bold;
    font-size:18px;
}
.btn-1{
    padding:15px 62px;
    border-radius: 25px;
    background: linear-gradient(#FF79DA, #9356DC);
    border:none;
    color:var(--blanc);
}
aside{
    background-color: var(--blanc);
    border-radius: 20px;
    border: none;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 1px 1px 20px -10px;
    animation: fadein 1s;
}
.fa-check-circle{
    color: #fff;
}

aside.progress_bar-test > div:first-of-type{
    width:88%;
    padding: 20px 20px;
}
aside.progress_bar-test > div.tarif, aside.progress_bar-test > div.points{
    display: flex;
    flex-direction: column-reverse;
    padding-bottom:20px;
}
aside.progress_bar-test > div.tarif{
    width:12%;
    padding: 20px 20px;
    font-weight: bold;
}
aside.progress_bar-test > div.points{
    width:0%;
}
aside.progress_bar-test > div:last-of-type{
    width:0%;
    display:flex;
    align-items: center;
    justify-content:center;
}
aside.progress_bar-test:hover > div:first-of-type{
    width: calc(100% - 9rem);
}
aside.progress_bar-test:hover > div.tarif{
    width: 3rem;
}

aside.progress_bar-test:hover > div.points{
    width: 1rem;
}
aside.progress_bar-test:hover > div:last-of-type{
    width: 5rem;
    background-color: #99e2d0;
    border-radius: 0 20px 20px 0;
}
aside.progress_bar-test:hover > div:last-of-type i{
    transform: rotate(0deg);
}
aside.progress_bar-test > div:last-of-type i{
    transform: rotate(180deg);
    transition: transform 1s;
}
aside.progress_bar-test {
    display: flex;
}
aside.progress_bar-test > div{
    transition: width 1s ,background-color 1s;
}
aside.progress_bar-test > * {
    overflow: hidden;
}

aside.progress_bar-test> div:first-of-type > * {
    overflow: hidden;
    height: 1.2rem;
  }
  
aside.progress_bar-test:hover > div:first-of-type > * {
      width: 100%;
  }
@keyframes fadein {
  0%      { 
    margin-top: 40px;
    opacity: 0;
  }
  100%    {
     margin-top: 20px;
     opacity: 1;
  }
}

.row-3{
    display: flex;
    justify-content: center;
    margin: 30px 0 60px 0;
}
footer{
    background-color: #353535;
    padding-top: 3rem;
    background-image: url(img/logo/ohmyfood@2x-blanc.svg);
    background-repeat: no-repeat;
    background-position: 40px 25px;
    background-size: 23%;
}
.logo-footer{
    width:50%;
    margin: 0;
}
.footer-info a{
    color:var(--blanc);
    text-decoration: none;
}
.footer-info .fas{
    width:7%;
    margin-right: 0;
    color: var(--blanc);
}
ul{
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 30px;
    line-height: 1.5;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .footer-info .fas {
        width: 3%;
    }
    .tab{
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        column-gap: 10px;
        margin: 0 10px;
        padding: 15px 0;
    }
    .titre{
        padding-top: 6%;
    }
    aside{
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width: 1025px) {
    main{
        width: 1080px;
    }
    header img{
        margin-top: -0.5%;
    }
    img{
        height: 29.25vw;
    }
    .tab{
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        column-gap: 10px;
        margin: 0 10px;
        padding: 15px 0;
    }
    .titre{
        padding-top: 6%;
    }
    aside{
        margin-left: 0;
        margin-right: 0;
    }
    footer{
        background-size: 10%;
    }
    .footer-info .fas {
        width: 2%;
    }
}
