*{
    margin:0 auto;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size:14px;
}
h1{
    font-family: 'Shrikhand', cursive;
    display:none;
}
h2{
    font-weight: bold;
    padding:10px 0;
}
h3{
    padding:0 20px;
}
p{
    padding:10px 20px;
}
button{
    margin:10px 0;
}
.btn{
    padding:20px 20px;
    border-radius: 20px;
    border:none;
}
.btn-1{
    padding:10px 20px;
    border-radius: 20px;
    background: linear-gradient(#FF79DA, #9356DC);
    border:none;
    color:#fff;
}
.fas{
    font-size:30px;
}
img{
    width: 100%;
    height: 56.25vw;
}
header{
    display: flex;
    justify-content: center;
    padding:20px 0;
    box-shadow: 0px 0px 10px 0px #666;
    margin:0 auto;
}
section{
    display: flex;
    justify-content: center;
    padding: 15px 15px;
}
.row-0{
    background-color:#eaeaea;
    padding:10px 0;
}
.row-1{
    background-color:#f6f6f6;
    flex-direction: column;
}
.row-1 p{
    text-align: center;
}
.row-2{
    flex-direction:column;
}
.row-2 h2{
    display: contents;
}
.row-3{
    flex-direction: column;
    background-color:#f6f6f6;
}
.row-3 h2{
    margin:0;
    padding: 40px 0 20px 0;
}
.resto{
    border-radius:15px;
    background-color: #fff;
    margin-bottom:5%;
}
.resto img{
    border-radius: 15px 15px 0 0;
}
.new{
    position: relative;
    float: right;
    top: 50px;
    right: 30px;
    background-color:#99e2d0;
    color:#139274;
    padding:10px 30px;
    border-radius: 5px;
    font-weight: bold;
}
footer{
    background-color: #353535;
}
.logo-footer{
    width:50%;
    margin: 0;
}
.footer-info{
    display: flex;
    flex-direction: column;
}
.footer-info a{
    color:#fff;
    text-decoration: none;
}