*{
    margin:0 auto;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size:14px;
}
h1{
    font-family: 'Shrikhand', cursive;
    display:none;
}
header{
    display: flex;
    justify-content: center;
    padding:20px 0;
    box-shadow: 0px 0px 10px 0px #666;
    margin:0 auto;
}
img{
    width:100%;
    height:56.25vw;
}